<% layout('layout') %> 

<form action="/searchList" method="post">
  <input type="text" class="searchText" name="searchText" value="" id="search">
  <button class="submit btn" type="button">送出</button>
</form>
<script src="js/all.js"></script>